In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as datetime
import os
from constants import *
from trip_file import TripFile
from trip import Trip

### Read all files

In [8]:
taarif = pd.read_csv("../files/taarif.csv")
new_drivers = pd.read_csv("../files/new_drivers.csv", index_col=0)
drivers_with_kviut = pd.read_csv("../files/drivers_with_kviut.csv",index_col=0)

In [3]:


def preprocess_drivers(drivers: pd.DataFrame, copy=False) -> pd.DataFrame:
    df = drivers
    if copy:
        df = drivers.copy()

    gender_mapping = {"F": FEMALE,
                    "M":MALE,
                    "m":MALE,
                    "male":MALE,
                    "boy":MALE,
                    "unknown":MALE,
                    'woman':FEMALE,
                    'girl':FEMALE,
                    'none':MALE,
                    'female':FEMALE}

    # Make preprocess
    df.gender.fillna(MALE, inplace=True)
    df.gender = df.gender.apply(lambda x: gender_mapping[x])
    df.birthdate = pd.to_datetime(df.birthdate, format="mixed")
    drivers.birthdate.fillna(datetime.datetime.now(),inplace=True)

    return df

def preprocess_taarif(taarif_df: pd.DataFrame, copy=False) -> pd.DataFrame:
        df = taarif_df
        if copy:
            df = new_drivers.copy()

        return df


# Concat the two tables of drivers with and without kviut
def concat_drivers_tables(new_drivers, drivers_with_kviut):
    drivers_with_kviut["kviut"] = 1
    drivers = pd.concat([new_drivers, drivers_with_kviut])
    drivers["kviut"].fillna(0, inplace=True)
    return drivers

In [4]:
drivers = concat_drivers_tables(new_drivers, drivers_with_kviut)
drivers = preprocess_drivers(drivers, copy=True)

In [5]:
from tqdm import tqdm
def get_trip_files(folder, limit=100):
    files = np.array(list(os.listdir(folder)))
    if limit:
        files = files[:limit]
    files = np.array([name if not name[-5] == ")" else name[:-7]+".csv" for name in files])
    print("Processing files....")
    return np.array([TripFile(os.path.join(folder,file)) for file in tqdm(files)])

In [6]:

def calculate_trip_salary(taarif, drivers, customer, trip_km, trip_start, trip_end):
    info = ""
    
    basic_rate = taarif[taarif.customer == "blalbalbla"]["basic_taarif"]
    if basic_rate.empty:
        info = "Company not found"
        return -1
    
    if not trip_start or not trip_end:
        info = "possible weekend bonus\n"

In [7]:
class Trip():

    def __init__(self, customer, driver_id, start_time, end_time, trip_km):
        self.customer = customer
        self.driver_id = driver_id
        self.start_time = start_time
        self.end_time = end_time
        self.trip_km = trip_km

def create_main_table():
    # rates = Rates("files/taarif.csv")
    table = pd.DataFrame(columns=["id","month","year","total_income","total_km","gender","age","vetek","kviut","info"])
    trip_files = get_trip_files("../files/trips_data")
    for trip_file in trip_files:
        trip_df = trip_file.get_data_frame()
        # trip = Trip()
        print(trip_df)
        break
    # calculate_trip_salary(taarif, )
    january = "january"


create_main_table()

Processing files....

100%|██████████| 100/100 [00:02<00:00, 40.96it/s]

    Unnamed: 0        customer  driver_id             end_time           km  \
0            0             iaf        570  2015-04-01 09:36:00   672.312716
1            1             yes        822  2015-04-01 16:17:00    96.048221
2            2           intel        437  2015-04-02 04:15:00    90.727997
3            3             yes         70  2015-04-02 15:41:00   216.595350
4            4  jerusalem_muni        446                  NaN    96.437630
5            5  jerusalem_muni        211  2015-04-03 19:47:00   344.978375
6            6     electricity        430  2015-04-04 08:05:00   387.001130
7            7    bituch_leumi        841  2015-04-04 15:50:00   145.223681
8            8    bituch_leumi        636  2015-04-05 09:52:00   576.640497
9            9     electricity        189  2015-04-05 18:39:00   264.968886
10          10         aminach        540  2015-04-06 05:12:00    67.220511
11          11           angel         25  2015-04-06 14:19:00    81.706881
12          12            osem        404                  NaN   251.043317
13          13             yes        581  2015-04-07 17:55:00   332.336104
14          14    bituch_leumi        578  2015-04-08 07:03:00   451.807635
15          15             iaf        181  2015-04-08 16:28:00    78.833604
16          16            tara        975  2015-04-09 02:49:00    69.909047
17          17           tnuva        863  2015-04-09 15:46:00   180.609518
18          18           intel        107  2015-04-10 07:51:00   458.991959
19          19             iaf        164  2015-04-10 20:26:00   474.522311
20          20             hot         33  2015-04-11 06:42:00   399.653794
21          21            tara        647  2015-04-11 15:06:00   105.682986
22          22  jerusalem_muni        991  2015-04-12 05:23:00   236.500994
23          23     electricity        901  2015-04-12 22:22:00   597.131443
24          24           intel        399  2015-04-13 07:57:00   337.743575
25          25            osem        337  2015-04-13 16:50:00   253.397584
26          26             hot        961  2015-04-14 05:58:00   297.059835
27          27            tara        861  2015-04-14 16:01:00   227.142850
28          28             hot        375  2015-04-15 07:56:00   643.908842
29          29           intel        982  2015-04-15 17:22:00   269.204024
30          30            osem        282  2015-04-16 03:01:00   161.888859
31          31             iaf        143  2015-04-16 22:34:00   551.726410
32          32             yes        375  2015-04-17 08:14:00   329.152801
33          33             yes         55  2015-04-17 20:35:00   559.239698
34          34            osem        437  2015-04-18 07:53:00   389.438975
35          35         aminach         99  2015-04-18 15:32:00   247.438379
36          36             iaf        359  2015-04-19 09:27:00   600.082422
37          37     electricity        374  2015-04-19 19:32:00   427.596949
38          38             hot        481  2015-04-20 05:09:00   269.717654
39          39             yes        272  2015-04-20 20:23:00   441.033823
40          40           angel        120  2015-04-21 10:37:00   512.527499
41          41         aminach        888  2015-04-21 21:50:00   480.713569
42          42             hot        987  2015-04-22 07:35:00   332.253044
43          43         aminach        268  2015-04-22 19:27:00   420.316207
44          44     electricity         74  2015-04-23 05:24:00    22.352944
45          45    bituch_leumi        311  2015-04-23 19:55:00   405.821121
46          46         aminach         94  2015-04-24 03:42:00   256.640706
47          47           intel        682  2015-04-24 22:15:00  1658.560316
48          48           intel        668  2015-04-25 06:18:00   215.076191
49          49             yes        308  2015-04-25 16:45:00   167.281157
50          50           tnuva        564  2015-04-26 03:56:00   228.142790
51          51            osem        466  2015-04-26 20:53:00   371.736065
52          52             yes        644  2015-04-27 08:12:00   467.494936
53          53             yes        453  2015-04-27 16:47:00   116.153411

             start_time
0   2015-04-01 01:55:00
1   2015-04-01 15:12:00
2   2015-04-02 02:49:00
3   2015-04-02 12:41:00
4   2015-04-03 00:15:00
5   2015-04-03 14:13:00
6   2015-04-04 01:54:00
7   2015-04-04 14:11:00
8   2015-04-05 03:20:00
9   2015-04-05 15:02:00
10  2015-04-06 01:13:00
11  2015-04-06 13:20:00
12  2015-04-07 03:17:00
13  2015-04-07 13:59:00
14  2015-04-08 00:22:00
15  2015-04-08 15:15:00
16  2015-04-09 01:48:00
17  2015-04-09 13:34:00
18  2015-04-10 00:46:00
19  2015-04-10 14:48:00
20  2015-04-11 01:57:00
21  2015-04-11 13:55:00
22  2015-04-12 01:46:00
23  2015-04-12 14:30:00
24  2015-04-13 03:34:00
25  2015-04-13 13:55:00
26  2015-04-14 01:34:00
27  2015-04-14 13:27:00
28  2015-04-15 00:46:00
29  2015-04-15 14:16:00
30  2015-04-16 00:20:00
31  2015-04-16 15:47:00
32  2015-04-17 03:18:00
33  2015-04-17 14:03:00
34  2015-04-18 03:33:00
35  2015-04-18 12:31:00
36  2015-04-19 02:09:00
37  2015-04-19 12:26:00
38  2015-04-20 01:23:00
39  2015-04-20 13:32:00
40  2015-04-21 03:14:00
41  2015-04-21 15:12:00
42  2015-04-22 03:07:00
43  2015-04-22 13:38:00
44  2015-04-23 03:34:00
45  2015-04-23 14:45:00
46  2015-04-24 00:29:00
47  2015-04-24 15:04:00
48  2015-04-25 02:57:00
49  2015-04-25 14:49:00
50  2015-04-26 00:55:00
51  2015-04-26 15:10:00
52  2015-04-27 01:40:00
53  2015-04-27 14:53:00