# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter

# set this so the graphs open internally
%matplotlib inline

### Step 2. Create a data dictionary that looks like the DataFrame below

In [3]:
df_dict = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']}

### Step 3. Assign it to a variable called pokemon

In [12]:
df = pd.DataFrame(df_dict)
df

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [13]:
df = df[["name","type","hp","evolution","pokedex"]]
df

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [15]:
df["place"] = [1,2,3,4]
df

C:\Users\Ron Tohar\AppData\Local\Temp\ipykernel_3588\3616086286.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["place"] = [1,2,3,4]

         name   type  hp   evolution pokedex  place
0   Bulbasaur  grass  45     Ivysaur     yes      1
1  Charmander   fire  39  Charmeleon      no      2
2    Squirtle  water  44   Wartortle     yes      3
3    Caterpie    bug  45     Metapod      no      4

### Step 6. Present the type of each column

In [17]:
df.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place         int64
dtype: object

### BONUS: Create your own question and answer it.