In [149]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as datetime
import os

### Read all files

In [127]:
taarif = pd.read_csv("files/taarif.csv")
new_drivers = pd.read_csv("files/new_drivers.csv", index_col=0)
drivers_with_kviut = pd.read_csv("files/drivers_with_kviut.csv",index_col=0)

In [128]:
drivers = pd.concat([new_drivers, drivers_with_kviut])
x = drivers.gender
y = x.fillna(1)
y.unique()

array(['F', 'M', 1, 'male', 'm', 'boy', 'unknown', 'woman', 'girl',
       'none', 'female'], dtype=object)

In [139]:
from project_files.constants import *
def preprocess_taarif(taarif_df: pd.DataFrame, copy=False) -> pd.DataFrame:
    df = drivers
    if copy:
        df = new_drivers.copy()

    return df

def preprocess_drivers(drivers: pd.DataFrame, copy=False) -> pd.DataFrame:
    df = drivers
    if copy:
        df = drivers.copy()

    gender_mapping = {"F": FEMALE,
                    "M":MALE,
                    "m":MALE,
                    "male":MALE,
                    "boy":MALE,
                    "unknown":MALE,
                    'woman':FEMALE,
                    'girl':FEMALE,
                    'none':MALE,
                    'female':FEMALE}

    # Make preprocess
    df.gender.fillna(MALE, inplace=True)
    df.gender = df.gender.apply(lambda x: gender_mapping[x])
    df.birthdate = pd.to_datetime(df.birthdate, format="mixed")
    drivers.birthdate.fillna(datetime.datetime.now(),inplace=True)

    return df

In [147]:
drivers = pd.concat([new_drivers, drivers_with_kviut])
drivers = preprocess_drivers(drivers, copy=True)

                     birthdate gender   id  vetek
206 2024-05-06 14:59:16.443085      m  779   18.0
338 2024-05-06 14:59:16.443085      m  883   15.3
415 2024-05-06 14:59:16.443085      m  388    1.6
525 2024-05-06 14:59:16.443085      m  547    7.5
590 2024-05-06 14:59:16.443085      m  397   12.9
670 2024-05-06 14:59:16.443085      m  785   14.7
701 2024-05-06 14:59:16.443085      m  871    7.2
708 2024-05-06 14:59:16.443085      m  347   15.2
755 2024-05-06 14:59:16.443085      m  668   14.9
901 2024-05-06 14:59:16.443085      m  690    8.8

### Read files of trips

In [171]:
import gc
import tqdm
trips_folder = "files/trips_data"
# for file in tqdm.tqdm(os.listdir(trips_folder)):
#     file_path = os.path.join(trips_folder,file)
#     trip = pd.read_csv(file_path)
#     if trip.driver_id.isna().any():
#         print("fuck this", file)
#     if trip.km.isna().any():
#         print("fuck this km", file)
#     if trip.customer.isna().any():
        # print("fuck this name", file)

In [177]:
def get_unique_files(folder):
    files = np.array(list(os.listdir(folder)))
    files = np.array([name if not name[-5] == ")" else name[:-7]+".csv" for name in files])
    return np.unique(files)

Searching for suplicates
['april 2015_4781353.csv' 'april 2015_4781354.csv'
 'april 2015_4781355.csv' ... 'september 2015_4781850.csv'
 'september 2015_4781851.csv' 'september 2015_4781852.csv']